asgiref==3.5.2
dj-config-url==0.1.1
Django==4.0.6
django-ckeditor==6.4.2
django-cleanup==6.0.0
django-etc==1.3.1
django-js-asset==2.0.0
django-mptt==0.13.4
Pillow==9.2.0
sqlparse==0.4.2
tzdata==2022.1
