{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--* Blog Main Sec*-->
<section id="blog_main_sec" class="section-inner">
    <div class="container">
        <!--*Blog Content Sec*-->
        <div class="blog-detail-main">
            <div class="post_body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <blockquote>
                    <p>Sed felis est, placerat a ornare vel, tempor id est. Phasellus ac urna vitae massa porttitor
                        lacinia. Integer mollis, nulla pretium porttitor sagittis, urna nibh lobortis eros, ut lacinia
                        elit velit nec diam.</p>
                    <span>Arthur & Molly Weasley</span>
                </blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat incidunt dicta eius
                    corporis iste, nihil nam atque.
                    Deserunt vel, velit cum aut error nam. Unde in ipsa quos earum. Atque.</p>
            </div>
            <div class="follow_us">
                <ul class="social_icons">
                    <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="tag mar-top-30">
                <div class="widget-tags-main">
                    <h5 class="bg-orange">Tags:</h5>
                    <a href="#" class="">Beach</a>
                    <a href="#" class="">Dress</a>
                    <a href="#" class="">Food</a>
                    <a href="#" class="">Fashion</a>
                    <a href="#" class="">Gadget</a>
                    <a href="#" class="">Holiday</a>
                    <a href="#" class="">Nature</a>
                    <a href="#" class="">Photography</a>
                    <a href="#" class="">Tips</a>
                    <a href="#" class="">Travel</a>
                </div>
            </div>
            <div class="author_box">
                <div class="author_img">
                    <img src="images/blog/author.png" alt="Author">
                </div>
                <div class="author_bio">
                    <h5>Jhon Snow</h5>
                    <p>Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper an neque auctor.
                        Aenean ligula mi, auctor sed tempus.Duis a enim vel mauris ultrices. Nullam aliquet velit ac
                        velit tempus in semper an neque auctor.
                        Aenean ligula mi, auctor sed tempus.</p>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--=========================* Comment Sec*===========================-->
            <div id="comments">
                <div class="comments-wrap">
                    <h3 class="single-post_heading blog_heading_border">Comments (4)</h3>
                    <ol class="comments-lists">
                        <li class="comment">
                            <div class="activity_rounded">
                                <img src="images/blog/cmnt-1.jpg" alt="image"/></div>
                            <div class="comment-body">
                                <h4 class="text-left"> NIKLOS DELSON &nbsp;&nbsp;
                                    <small class="date-posted pull-right">18th Mar, 2018</small>
                                </h4>
                                <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper
                                    neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat
                                    ante, non iaculis turpis augue ac ligula. Duis a
                                    enim vel mauris ultrices, leo. </p>
                                <a href="#" class="pull-left btn-blog">Reply</a>
                                <div class="clearfix"></div>
                            </div>
                            <ol class="children">
                                <li class="comment">
                                    <div class="activity_rounded">
                                        <img src="images/blog/cmnt-2.jpg" alt="image"/></div>
                                    <div class="comment-body">
                                        <h4 class="text-left"> NIKLOS DELSON &nbsp;&nbsp;
                                            <small class="date-posted pull-right">18th Mar, 2018</small>
                                        </h4>
                                        <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in
                                            semper neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo
                                            leo consequat ante, non iaculis turpis augue ac ligula.
                                            Duis a enim vel mauris ultrices, leo. </p>
                                        <a href="#" class="pull-left btn-blog">Reply</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                        <li class="comment">
                            <div class="activity_rounded">
                                <img src="images/blog/cmnt-3.jpg" alt="image"/></div>
                            <div class="comment-body">
                                <h4 class="text-left"> NIKLOS DELSON &nbsp;&nbsp;
                                    <small class="date-posted pull-right">18th Mar, 2018</small>
                                </h4>
                                <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper
                                    neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat
                                    ante, non iaculis turpis augue ac ligula. Duis a
                                    enim vel mauris ultrices, leo. </p>
                                <a href="#" class="pull-left btn-blog">Reply</a>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ol>
                    <div class="leave_comment">
                        <h3 class="blog_heading_border"> Leave a Comment </h3>
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input placeholder="Name" class="form-control" type="text" required></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input placeholder="Email" class="form-control" type="email" required></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <textarea placeholder="Message" class="form-control" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn-blog">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--=========================*End Comment Sec*===========================-->
            <!--* End Blog Content Sec*-->
        </div>
    </div>
</section>
<!--*End Blog Main Sec*-->
{% endblock %}