{% extends 'base.html' %}
{% block title %}Mtv: Əlaqə{% endblock %}
{% load static %}
{% block content %}
<!-- Breadcrumb -->
<section class="breadcrumb-outer text-center bg-orange">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Bizimlə əlaqə</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Əsas səhifə</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Əlaqə</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- BreadCrumb Ends -->


<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="contact-form" class="contact-form">

                    <div id="contactform-error-msg"></div>

                    <form method="post" action="#" name="contactform" id="contactform">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label>Name:</label>
                                <input type="text" name="full_name" class="form-control" id="Name"
                                       placeholder="Enter full name" required>
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Email:</label>
                                <input type="email" name="email" class="form-control" id="email"
                                       placeholder="abc@xyz.com" required>
                            </div>
                            <div class="form-group col-xs-6 col-left-padding">
                                <label>Phone Number:</label>
                                <input type="text" name="phone" class="form-control" id="phnumber"
                                       placeholder="XXXX-XXXXXX" required>
                            </div>
                            <div class="form-group textarea col-xs-12">
                                <label>Message:</label>
                                <textarea name="comments" placeholder="Enter a message" required></textarea>
                            </div>
                            <div class="col-xs-12">
                                <div class="comment-btn">
                                    <input type="submit" class="btn-blog" id="submit" value="Send Message">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-about footer-margin">
                    <div class="about-logo mar-bottom-20">
                        {% for logo in logos %}
                        <img src="{{ logo.image.url }}" alt="Image">
                        {% endfor %}
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    {% for contact in contacts %}
                    <div class="contact-location">
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ contact.address }}
                            </li>
                            <li><i class="fa fa-phone"></i> {{ contact.phone }}</li>
                            <li><i class="fa fa-envelope"></i> {{ contact.email }}</li>
                        </ul>
                    </div>
                    <div class="follow_us">
                        <ul class="social_icons">
                            <li><a href="{{ contact.soc_link_1 }}"> <i class="fa {{ contact.soc_icon_1 }}"></i></a></li>
                            <li><a href="{{ contact.soc_link_2 }}"> <i class="fa {{ contact.soc_icon_2 }}"></i></a></li>
                            <li><a href="{{ contact.soc_link_3 }}"> <i class="fa {{ contact.soc_icon_3 }}"></i></a></li>
                            <li><a href="{{ contact.soc_link_4 }}"> <i class="fa {{ contact.soc_icon_4 }}"></i></a></li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}