{% extends 'base.html' %}
{% block title %}Mtv: Əlaqə{% endblock %}
{% load static %}
{% block content %}
<!-- Breadcrumb -->
<section class="breadcrumb-outer text-center bg-orange">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Bizimlə əlaqə</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Əsas səhifə</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Əlaqə</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- BreadCrumb Ends -->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-about footer-margin">
                    <div class="about-logo mar-bottom-20">
                        {% for logo in logos %}
                        <img src="{{ logo.image.url }}" alt="Image">
                        {% endfor %}
                    </div>
                    <p>Mtv.az saytının yaradılmasında məqsəd dünyada və ölkədə baş verən ən vacib və maraqlı xəbərləri
                        geniş auditoriyaya təqdim etməkdir.</p>
                    <p>Mtv.az 24 saat ərzində, ölkədə və dünyada baş verən ən aktual və maraqlı hadisələr barədə
                        operativ xəbərlər, oxucuları və cəmiyyəti maraqlandıran suallara cavablar, analitik məqalələr,
                        foto və videohesabatlar hazırlayır.</p>
                    {% for contact in contacts %}
                    <div class="contact-location mar-bottom-5">
                        <ul>
                            <li><h3><i class="fa fa-map-marker" aria-hidden="true"></i> {{ contact.address }}</h3></li>
                            <li><h3><i class="fa fa-phone"></i> {{ contact.phone }}</h3></li>
                            <li><h3><i class="fa fa-envelope"></i> {{ contact.email }}</h3></li>
                        </ul>
                    </div>
                    <div class="follow_us">
                        <ul class="social_icons">
                            <li><a href="{{ contact.soc_link_1 }}"> <i class="fa {{ contact.soc_icon_1 }}"></i></a></li>
                            <li><a href="{{ contact.soc_link_2 }}"> <i class="fa {{ contact.soc_icon_2 }}"></i></a></li>
                            <li><a href="{{ contact.soc_link_3 }}"> <i class="fa {{ contact.soc_icon_3 }}"></i></a></li>
                            <li><a href="{{ contact.soc_link_4 }}"> <i class="fa {{ contact.soc_icon_4 }}"></i></a></li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}