{% extends 'base.html' %}
{% block title %}Mtv: {{ post.title }}{% endblock %}
{% load static %}
{% block content %}
<!-- Banner -->
<div id="mt_banner" class="innerbanner">
    <div class="container-fluid">
        <div class="featured-image" style="background-image: url({{ post.image.url }})"></div>
        <div class="banner-caption">
            <div class="banner_caption_text">
                <div class="post-category">
                    <ul>
                        <li class="cat-yellow {% cycle 'cat-blue' 'cat-green' 'cat-pink'  %}"><a
                                href="{% url 'category' post.category.pk %}" class="white">{{ post.category }}</a></li>
                    </ul>
                </div>
                <h2>{{ post.title }}</h2>
                <div class="item-meta">
                    <h5 class="author-name">
                        <span>by</span> _ {{ post.author.first_name }} {{ post.author.last_name }}
                    </h5>
                    <time datetime="2018-02-15">{{ post.create_at|date:"j F Y - H:m" }}</time>
                    <br>
                    <p><i class="fa fa-eye" aria-hidden="true"></i> {{ post.view }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!--* Blog Main Sec*-->
<section id="blog_main_sec" class="section-inner">
    <div class="container">
        <!--*Blog Content Sec*-->
        <div class="blog-detail-main">
            <div class="post_body"><p>{{ post.description|safe }}</p></div>
            <div class="follow_us">
                {% for contact in contacts %}
                <ul class="social_icons">
                    <li><a href="{{ contact.soc_link_1 }}"> <i class="fa {{ contact.soc_icon_1 }}"></i></a></li>
                    <li><a href="{{ contact.soc_link_2 }}"> <i class="fa {{ contact.soc_icon_2 }}"></i></a></li>
                    <li><a href="{{ contact.soc_link_3 }}"> <i class="fa {{ contact.soc_icon_3 }}"></i></a></li>
                    <li><a href="{{ contact.soc_link_4 }}"> <i class="fa {{ contact.soc_icon_4 }}"></i></a></li>
                </ul>
                {% endfor %}
            </div>
            <div class="tag mar-top-30">
                <div class="widget-tags-main">
                    <h5 class="bg-orange">Teqlər:</h5>
                    {% for tag in post.tag.all %}
                    <a href="{% url 'tag' tag_pk=tag.pk %}" class="">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <!--* End Blog Content Sec*-->
        </div>
    </div>
</section>
<!--*End Blog Main Sec*-->
{% endblock %}