{% extends 'base.html' %}
{% block title %}Mtv: Teq{% endblock %}
{% load static %}
{% block content %}

<!--* Blog*-->
<section id="mt_blog" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-9 width70">
                <div class="blog_post_sec">
                    {% for post in posts %}
                    <div class="blog-post_wrapper">
                        <div class="blog-post-image">
                            <img src="{{ post.image.url }}" alt="image"
                                 class="img-responsive center-block post_img"/>
                        </div>

                        <div class="post-content">
                            <div class="post-category">
                                <ul>
                                    <li class="cat-yellow {% cycle 'cat-blue' 'cat-green' 'cat-pink'  %}"><a href="#" class="white">{{ post.category }}</a></li>
                                </ul>
                            </div>

                            <div class="post-date">
                                <p>{{ post.create_at }}</p>
                            </div>

                            <h2 class="entry-title">
                                <a href="{% url 'detail' post_pk=post.pk %}" class="">{{ post.title }}</a>
                            </h2>
                            <div class="item-meta">
                                <span>by</span>
                                <a class="author-name" href="author.html">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h3>Hazırda bu teq üzrə xəbərlər mövcud deyil!</h3>
                    {% endfor %}
                    {% include 'inc/_pagination.html' %}
                </div>
            </div>
            {% include 'inc/_aside.html' %}
        </div>
    </div>
</section>
<!--* End Blog*-->

{% endblock %}