{% extends 'base.html' %}
{% load static %}
{% block title %}Scraping: Qeydiyyat{% endblock %}
{% block content %}
<section class="position-relative py-4 py-xl-5">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Yeni istifadəçinin qeydiyyatı</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <form class="needs-validation" method="post" novalidate>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100" type="submit">Qeydiyyat</button>
                            </div>
                            <a href="#" class="text-center">Şifrəni unutmusunuz?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}